<ng-container [ngTemplateOutlet]="tplTitlebar"></ng-container>

<main class="main-content">
    <router-outlet></router-outlet>
</main>

<ng-template #tplTitlebar>
    <mat-toolbar color="primary">
        <button mat-icon-button routerLink="/home">
            <mat-icon>weekend</mat-icon>
        </button>
        
        <ng-container [ngTemplateOutlet]="tplMenu"></ng-container>

        <span class="flex-spacer window-titlebar">Easy Order</span>
        <div class="window-controls-container">
            <button class="window-icon" mat-icon-button (click)="minimizeApp()">
                <mat-icon>remove</mat-icon>
            </button>
            <button class="window-icon" mat-icon-button (click)="maximizeApp()">
                <mat-icon [svgIcon]="maximizeIcon$ | async"></mat-icon>
            </button>
            <button class="window-icon" mat-icon-button (click)="closeApp()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</ng-template>

<ng-template #tplMenu>
    <div #menuContainer class="menu-container">
        <button mat-button [matMenuTriggerFor]="fileMenu" #fileMenuTrigger="matMenuTrigger" #fileMenuButton (mouseenter)="buttonMenuEnter(fileMenuTrigger)" (menuOpened)="menuOpened(fileMenuTrigger)" (menuClosed)="menuClosed()">File</button>
        <mat-menu #fileMenu="matMenu" direction="down" yPosition="below" hasBackdrop="false">
            <button mat-menu-item>New</button>
            <button mat-menu-item>Open</button>
            <button mat-menu-item (click)="closeApp()">Close</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="editMenu" #editMenuTrigger="matMenuTrigger" #editMenuButton (mouseenter)="buttonMenuEnter(editMenuTrigger)" (menuOpened)="menuOpened(editMenuTrigger)" (menuClosed)="menuClosed()">Edit</button>
        <mat-menu #editMenu="matMenu" direction="down" yPosition="below" hasBackdrop="false">
            <button mat-menu-item>Undo</button>
            <button mat-menu-item>Redo</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="viewMenu" #viewMenuTrigger="matMenuTrigger" #viewMenuButton (mouseenter)="buttonMenuEnter(viewMenuTrigger)" (menuOpened)="menuOpened(viewMenuTrigger)" (menuClosed)="menuClosed()">View</button>
        <mat-menu #viewMenu="matMenu" direction="down" yPosition="below" hasBackdrop="false">
            <button mat-menu-item>Search</button>
            <button mat-menu-item>Tabs</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="windowMenu" #windowMenuTrigger="matMenuTrigger" #windowMenuButton (mouseenter)="buttonMenuEnter(windowMenuTrigger)" (menuOpened)="menuOpened(windowMenuTrigger)" (menuClosed)="menuClosed()">Window</button>
        <mat-menu #windowMenu="matMenu" direction="down" yPosition="below" hasBackdrop="false">
            <button mat-menu-item>Show Sidebar</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="helpMenu" #helpMenuTrigger="matMenuTrigger" #helpMenuButton (mouseenter)="buttonMenuEnter(helpMenuTrigger)" (menuOpened)="menuOpened(helpMenuTrigger)" (menuClosed)="menuClosed()">Help</button>
        <mat-menu #helpMenu="matMenu" direction="down" yPosition="below" hasBackdrop="false">
            <button mat-menu-item>About</button>
            <button mat-menu-item (click)="openDevTools()">Debugging</button>
        </mat-menu>
    </div>
</ng-template>
