.mat-toolbar {
    display: flex;
    flex-direction: row;
    padding-right: 0;
    height: 42px;
    font-size: 14px;
}

.window-titlebar {
    content: ' ';
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.flex-spacer {
    flex: 1 1 auto;
}

.window-controls-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        line-height: 18px;
    }
}

.main-content {
    height: calc(100vh - 42px);
}
